# Python & Environments
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Ignore only the root data/ folder where raw datasets are downloaded
/data/

# Model checkpoints & tracking
*.pth
*.pt
checkpoints/
wandb/
.ipynb_checkpoints/